
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    <link href="~/Content/Frond/css/LienHe.css" rel="stylesheet" />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
}
<section>

    <div class="banner">
        <h2>LIÊN HỆ</h2>
        <ul class="d-flex justify-content-center p-0">
            <li><a href="@Url.Action("Index","TrangChu")">TRANG CHỦ</a></li>
            <li>/</li>
            <li><a href="javascript:void(0)">LIÊN HỆ</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="main ">
            <div class="row">
                <div class="col-md-6">
                    <div class="map" id="map"></div>
                </div>
                <div class="col-md-6">
                    <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                    <div class="info d-flex align-items-center justify-content-start">
                        <div class="info__img">
                            <img src="~/Content/Frond/img/logo.png" />
                        </div>
                        <div class="info__desc">
                            <a href="#">Nhóm 6 - Thiết kế Web</a>
                            <a href="#">0974989174</a>
                            <a href="#">nchieu2909@gmail.com</a>
                            <a href="#">Trân trọng cảm ơn quý khách.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibmNoaWV1MjkwOSIsImEiOiJjbDFoYWdiaTcwNTRrM2RwYjFzODg3YmR2In0.zKYtfkdH0jS9P3LJtfXMGg';
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(position => {
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [position.coords.longitude, position.coords.latitude],
                zoom: 14
            });
            const marker = new mapboxgl.Marker({
                color: "red",
                draggable: true,
                anchor: 'bottom'
            }).setLngLat([position.coords.longitude, position.coords.latitude])//thiết lập tại vị trí hien tai
                .setPopup(new mapboxgl.Popup().setHTML("<p>Hello!</p>")) 
                .addTo(map);

            const nav1 = new mapboxgl.NavigationControl();
            map.addControl(nav1, 'bottom-right');
            const nav = new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            });
            map.addControl(nav, 'bottom-right');

            map.addControl(new mapboxgl.FullscreenControl());
        });

    }
    
</script>