<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <!--<a href="index3.html" class="brand-link">-->
        @*<img src="/Content/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
        <!--<span class="brand-text font-weight-light">Quản Lý</span>
    </a>-->

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Images/product-11-470x470-100x100.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">BTL Nhóm 6 - CNTT2</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="/Admins/SanPhams/" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Cấu hình sản phẩm
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Danh mục
                            <i class="fas fa-angle-left right"></i>
                            @*<span class="badge badge-info right">6</span>*@
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admins/LoaiSPs/" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Loại sản phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admins/AnhSPs/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ảnh Sản Phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admins/giasps/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Giá Sản Phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admins/PTTTs/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Phương thức thanh toán</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Tin tức
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">6</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admins/news_category/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh mục tin tức</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admins/news/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tin tức bài viết</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Quản Lý Khách hàng
                            <i class="fas fa-angle-left right"></i>
                            @*<span class="badge badge-info right">6</span>*@
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admins/KhachHangs/" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Khách Hàng</p>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Quản Lý Đơn hàng
                            <i class="fas fa-angle-left right"></i>
                            @*<span class="badge badge-info right">6</span>*@
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admins/DonHangs/" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Đơn hàng</p>
                            </a>
                        </li>


                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>


